
.divpage4{
    /* display: none; */
        position: relative;
        width: 950px;
    height: 520px; 
    left: 300px;
    top: 30px;
    
    
    }
    .page4title{
        /* position: relative; */
        color: #FEFEFE;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
        top: 40px;
        padding-left: 500px;
    /* left: 520px; */
    }
    .inppage4{
        border: 1px solid #ced4da;
    color: #FEFEFE;
        background-color: transparent;
       border-radius: 0!important;
       border-left: 0!important;
       border-right: 0!important;
       border-top: 0!important;
            font-size: 1.2rem;
    width: 400px;}
    
    .inppage4_1{
        border: 1px solid #ced4da;
    color: #FEFEFE;
        background-color: transparent;
       border-radius: 0!important;
       border-left: 0!important;
       border-right: 0!important;
       border-top: 0!important;
            font-size: 1.2rem;
    width: 400px;}
    
    
    
    .inppage4_2{
    
        border: 1px solid #ced4da;
    color: #FEFEFE;
        background-color: transparent;
       border-radius: 0!important;
       border-left: 0!important;
       border-right: 0!important;
       border-top: 0!important;
            font-size: 1.2rem;
    width: 400px;
    height: 160px;
    }
    ::placeholder{
        color: #FEFEFE;
    }
    .page4btn{
    width: 120px;
    height: 50px;
    margin-left: 280px;
    
    border: none;
    }
    .page4text2{
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
        font-weight: 300;
        color: white;
    padding-left: 500px;
    bottom: 370px;
    line-height: 1.5;
    
    }
    
    .mapdiv{
        width:450px;
        height:200px;
        position: relative;
        left: 500px;
        bottom: 360px; 
    
    }
    body{
      
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 17px;
        font-weight: 300;
    }
    
    .foto{
        padding-left: 100px;
        
    }
    
    
    
    
    
    