<br> <br> <br>
<div class="div3page" >
<div class="roundpage3_1"></div>
<div class="decordiv3"></div>
<div class="roundpage3_2"></div>
<div class="front3" > 
<h2 class="page3title" >About our company</h2>
<p class="page3text1">You are <span style="color: #72BF5A;" >allowed</span> to use Astro Motion HTML Template for your websites.You are not allowed to re-distribute this template ZIP file on any Free CSS template collection website.Illegal redistribution is strongly prohibited.</p>
<br><p class="page3text1">Praesent auctor rhoncus arcu, vitae blandit est vestibulum sit amet. Integer erat turpis, vestibulum pellentesque aliquam ultricies, finibus nec dui. Donec bibendum enim mi, at tristique leo feugiat at. Thank you for visiting Template Mo.</p>
</div><br><br>
<div class="roundpage3_1"></div>
<div class="decordiv3"></div>
<div class="roundpage3_2"></div>

</div>   