 
.div3page{
    /* display: none; */
    /* background-color: rgb(42, 173, 37); */
position: relative;
width: 870px;
height: 500px;  
left: 540px;


}

.roundpage3_1{

    position: relative;
    background-color: #ffffff; 
    width: 20px;
    height: 20px;   
    border-radius: 50%;
     left: 10px;
    top: 10px;


}
.decordiv3{
    position: relative;
    background-color: #FEFEFE;
    width: 815px;
    height: 1px; 
    left: 10px;
}
.roundpage3_2{

    position: relative;
    background-color: #ffffff; 
    width: 20px;
    height: 20px;   
    border-radius: 50%;
     left: 816px;
    bottom:  10px;


}
.front3 {
background-color: rgba(0,0,0,0.3);
width: 800px;
height: 370px;
    position: relative;
left: 30px;
top: 28px;
}

.page3title{
    position: relative;
    color: #FEFEFE;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    top: 40px;
    left: 35px;
}

.page3text1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: white;
    line-height: 1.5;
    position: relative;
    top: 50px;
    margin-left: 35px;
}
