    #div1page{
        position: relative;
        padding-left: 130px;
    }



    .decordiv{
        position: relative;
        background-color: #FEFEFE;
        width: 810px;
        height: 1px; 
        
    }

    .round5{
        position: relative;
    background-color: #ffffff; 
    width: 20px;
    height: 20px;   
    border-radius: 50%;
     right: 6px;
    bottom: 8px;
}
.round6{
    position: relative;
background-color: #ffffff; 
width: 20px;
height: 20px;   
border-radius: 50%;
 left: 804px;
bottom: 28px;
}
.changerdiv{
    position: relative;
    margin-top: 40px;
   margin-left:135px;
    width: 870px;
    height: 560px;  

}
.welcomdiv{
    background-color: rgba(0, 0, 0, 0.3);
    top: 10px;
    left: 20px;
    position: relative;
    width: 492px;
    height: 365px;  



}
.welcomtitle{
    position: relative;
    left: 37px;
    top:  35px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    color: aliceblue;
    
}
.welcomtext1{


    position: relative;
    left: 37px;
    top:  35px;
    font-family: 'Source Sans Pro', sans-serif;
  
    font-weight: 300;
    line-height: 1.7;
    
    /* font-size: 1.8rem; */
    color: aliceblue;
}
.imgrobot{
    position: relative;
    bottom: 353px; 
    left: 537px;

}
.imgglasses{
    position: relative;
    bottom: 154px; 
    left: 280px;
}
.enddecordiv{


    position: relative;
    background-color: #FEFEFE;
    width: 810px;
    height: 1px; 
    bottom: 120px;

}
.round7{
    position: relative;
background-color: #ffffff; 
width: 20px;
height: 20px;   
border-radius: 50%;
 /* left: 804px; */
bottom: 130px;
}
.round8{
    position: relative;
background-color: #ffffff; 
width: 20px;
height: 20px;   
border-radius: 50%;
 left: 804px;
bottom: 150px;
}
.gogallerybtn{
    position: relative;
    width: 156px;
    height: 59px;
    left: 335px;
    bottom: 134px;
}



.changerdiv{
display: none;

}



.changerdiv1{display:inline ;}


.page1styl{
    position: relative;
    
    left: 137px;
    top:  43px;
    width: 1000px;
    height: 600px;
}