<br><br><br>
<div  id="div1page"> 
    <div  class="pagestyle" >
    <div class="decordiv"></div>
    <div class="round5"></div>
    <div class="round6"></div>
    <div class="welcomdiv">
      <h2 class="welcomtitle">Welcome to Astro Motion</h2><br>
      <p class="welcomtext1">This HTML template has a motion video background <br> loop which is provided by<a
      href="https://getfreepictures.com/" target="_blank" style="color: #89E561;"> Get Free Pictures </a> . This is one-<br> responsive layout for your websites. Feel free to <br> use this for a commercial purpose.</p>
      <p class="welcomtext1">You are not permitted to redistribute this template on <br> your Free CSS collection  websites. Please <a style="color: #89E561;" target="_blank" href="https://templatemo.com/contact"> contact us
        </a> for <br> more information.</p>
    </div>
<img class="imgrobot" src="https://templatemo.com/templates/templatemo_560_astro_motion/img/home-img-1.jpg"  >
<img class="imgglasses" src="https://templatemo.com/templates/templatemo_560_astro_motion/img/home-img-2.jpg" >
<div class="enddecordiv"></div>
<div class="round7"></div>
<div class="round8"></div>
<button a [routerLink]="'/gallery'" class="gogallerybtn"  >View Gallery</button>
 
</div>
</div> 