<nav class="navbar navbar-expand-lg" id="tm-nav"></nav>
<div class="totaldiv" id="totaldivid"></div>
<div id="frontid" class="front">

  <div class="headbtndiv">
    
    <a class="astroteg" href="#">Astro Motion</a>
  <ul style="list-style: none;" >
    <li  >><div class="class1" class="linkhomediv"> <a [routerLink]="'/home'" routerLinkActive="active-menu-item"   class="menutext"    >Home</a>  <div class="round1"> </div> </div></li>
    <li><div class="linkgallerydiv"> <a [routerLink]="'/gallery'" routerLinkActive="active-menu-item"   class="menutext"   >Gallery</a> <div class="round2"></div> </div></li>
    <li><div class="linkaboutdiv"> <a [routerLink]="'/about'"   routerLinkActive="active-menu-item"    class="menutext"  >About</a>       <div class="round3"></div> </div></li>
    <li><div class="linkcontactdiv"> <a [routerLink]="'/contact'" routerLinkActive="active-menu-item"    class="menutext"  >Contact</a>  <div class="round4"></div> </div></li>

  </ul>    
  </div>

  <div class="removediv" id="removedivid">
    <div class="bigfront" id="bigfrontid">

    </div>
  </div>
</div>
