.headbtndiv{


    position: relative;
      /* background-color: rgb(92, 143, 255); */
      width: 100%;
      height: 110px;
  z-index: 1;
  }
  .astroteg{
  position: relative;
  left: 40px;
  top: 45px;
      text-decoration: none;
      font-size: 2.4rem;
      color: aliceblue;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 38.4px;
      font-weight: 300;
      color: white;
      line-height: 1.5;
  }
  
  .linkhomediv{
  
  border-bottom: 2px solid #ffffff;
  
  position: relative;
//   color: #99FF66;
  
  left: 605px;
    bottom: 10px;
  width: 190px;
      height: 50px;
      
      
  }
  

  .menutext{
      text-decoration: none;
      font-size: 1.5rem;
       margin-left: 65px;
       color:#ffffff;
  text-decoration:none;
  
  }
  
  .linkhomediv:hover   ,.hometext:hover, .linkaboutdiv:hover,.linkcontactdiv:hover,.linkgallerydiv:hover  {
      color:#99FF66;
      border-bottom: 2px solid #99FF66;
  }
  
//   .class1:active{

//     color:#99FF66;
//     border-bottom: 2px solid #99FF66;

//   }
  
  .round1:hover, .round2:hover, .round3:hover, .round4:hover {
      background-color: #99FF66;
  }
  
  .linkgallerydiv{
      border-bottom: 2px solid #ffffff;
      /* background-color: red; */
      position: relative;
      color: aliceblue;
  
      left: 825px;
        bottom: 60px;
      width: 190px;
          height: 50px;
          
      }
      
  .linkaboutdiv{
      border-bottom: 2px solid #ffffff;
      /* background-color: red; */
      color: aliceblue;
  
      position: relative;
        left: 1045px;
        bottom: 110px;
      width: 190px;
          height: 50px;
          
      }
      .linkcontactdiv{
          
          border-bottom: 2px solid #ffffff;
          position: relative;
            left: 1265px;
            bottom: 160px;
          width: 190px;
              height: 50px;
              color: aliceblue;
              
          }

        

        .round1{
            background-color: #99FF66;
         
            position: relative;
        width: 20px;
        height: 20px;   
        border-radius: 50%;
        left: 80px;
        top: 14px;

        }
       
        .round2{
            position: relative;
        background-color: #ffffff; 
        width: 20px;
        height: 20px;   
        border-radius: 50%;
        left: 80px;
        top: 14px;

        }
        .round3{
            position: relative;
        background-color: #ffffff; 
        width: 20px;
        height: 20px;   
        border-radius: 50%;
        left: 80px;
        top: 14px;

        }
        .round4{
            position: relative;
        background-color: #ffffff; 
        width: 20px;
        height: 20px;   
        border-radius: 50%;
         left: 80px;
         top: 14px;
    }